doctype html
html
  head
    title title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p= 'test paragraph'
    input(type='text' name='name-input').class-input#id-input
    - var condition = true
    if condition
        p= 'condition true'
    
    ul 
        li text 1
        li text 2
        li text 3

    - var list = ['1','2','3','4','5']
    each value in list
        p= value
    block content
